body{
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    box-sizing: border-box;
    background-color: azure;
}


.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid #fff 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* width: 150px; */
    /* width: 20%; */
    margin: 150px auto;
}

img{
    border-radius: 10px;
    padding: 20px auto;
    width: 60%;
}

.qrcode{
    align-items: center;
    justify-content: center;
}  

h3{
    margin-top: 10px;
}

/* <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */